// Styling for the timeline section
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: $gray-200;
  }
}
@media (min-width: 768px) {
  .timeline {
    &:before {
      left: 50%;
    }
  }
}
